<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses">
  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image is avaliable yet.</p>

    <img src="/assets/empty-image.png" alt="Empty Image" />
  </ng-template>

  <course-card
    *ngFor="let course of courses"
    #cardRef
    (courseSelected)="oncCourseSelected($event)"
    [course]="course"
    [noImageTpl]="blankImage"
  >
    <course-image [src]="course.iconUrl"></course-image>

    <div>
      <h5>Total Lessons: {{ course.lessonsCount }}</h5>
    </div>
  </course-card>
</div>
